data-science-0/**
coestatistica-1/**
data-science-1/**
data-science-2/**
data-science-3/**
data-science-4/**
enem-2/**
enem-4/**
final_project/**

# Module 02
!data-science-0/main.ipynb
!data-science-0/README.md

# Module 03
!coestatistica-1/submission.json
!coestatistica-1/README.md
!coestatistica-1/Analysis.ipynb

# Module 04
!data-science-1/README.md
!data-science-1/main.ipynb
!data-science-1/pulsar_stars.csv

# Module 05
!data-science-2/README.md
!data-science-2/main_git.ipynb
!data-science-2/athletes.csv

# Module 06
!data-science-3/main.ipynb
!data-science-3/fifa.csv
!data-science-3/README.md

# Module 07
!data-science-4/README.md
!data-science-4/main_git.ipynb
!data-science-4/countries.csv

# Module 08
!enem-2/main_2.ipynb
!enem-2/test.csv
!enem-2/train.csv
!enem-2/enem_2016_dic.xlsx
!enem-2/README.md

# Module 09
!enem-4/main.ipynb
!enem-4/test.csv
!enem-4/train.csv
!enem-4/README.md

